@{
    var name="";
    var data=null;
    var db = Database.Open("WebSecurity");
    var selectQueryString = "SELECT * FROM Product WHERE Name=@0";
    if(IsPost)
    {
        name=Request.Form["Name"];
        data=db.Query(selectQueryString,name);
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Products</title>
    <style type="text/css">
        table, th, td {
          border: solid 1px #bbbbbb;
          border-collapse: collapse;
          padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Search Products</h1>
    Name: @Html.TextBox("Name",Request["Name"]);

    <table>
    
        @foreach(var val in data)
        {
            <tr>
                <td>
                    <img src="@(Href("~/" + @val.Image))" alt="Image">
                </td>
                <td> @val.Name</td>
                <td> @val.Description</td>
                <td> @val.Price</td>
                
            </tr>
        }
    </table>
    <input type="submit" value="Search"/>

</body>
</html>